@using System.Linq
@model IEnumerable<JDege.EFQ.Web.Models.StoredQueryModel>

@{
}

<h3>Parameterized values</h3>

<div>
    @Html.Raw(ViewBag.docs)
</div>

<h3>The stored queries:</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaseTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseTable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Query)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    <a asp-controller="RunQuery" asp-action=@item.BaseTable asp-route-id=@item.Id
                    asp-route-rc=@item.Area>Execute</a>
                </td>
            </tr>
        }
    </tbody>
</table>
