<ul class="list-inline">
    <li class="list-inline-item"><a asp-controller="ADO" list-group-item-action>Simple ADO</a></li>
    <li class="list-inline-item"><a asp-controller="PlainEF" list-group-item-action>Plain Entity Framework</a></li>
    <li class="list-inline-item"><a asp-controller="PredicateBuilder" list-group-item-action>Predicate Builder</a></li>
    <li class="list-inline-item"><a asp-controller="EFQuery" list-group-item-action>EFQuery</a></li>
    <li class="list-inline-item"><a asp-controller="EFQOnServer" list-group-item-action>EFQuery on server</a></li>
    <li class="list-inline-item"><a href="EFQueryOnClient" list-group-item-action>EFQuery on client</a></li>
</ul>

<h1>EFQ on Server</h1>

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link @ViewBag.explanationActive" data-toggle="tab" id="tab-explanation"
                href="#explanation">Explanation</a></li>
        <li class="nav-item"><a class="nav-link @ViewBag.criteriaActive" data-toggle="tab" id="tab-criteria"
                href="#criteria">Criteria</a></li>
        <li class="nav-item"><a class="nav-link @ViewBag.resultsActive" data-toggle="tab" id="tab-results"
                href="#results">Results</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="explanation" class="tab-pane fade show @ViewBag.explanationActive">
            @Html.Raw(ViewBag.docs)
        </div>
        <div id="criteria" class="tab-pane fade show @ViewBag.criteriaActive">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-12">
                        Select a Client, a Worker, or both, and click "Search"
                    </div>
                </div>

                <hr>

                <fieldset>
                    <div class="row">
                        <div class="editor-label col-sm-12">
                            <label for="ArtistId">Artist</label>
                        </div>
                        <div class="editor-field col-sm-12">
                            <select id="ArtistId" name="ArtistId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="editor-label col-sm-12">
                            <label for="CustomerId">Customer</label>
                        </div>
                        <div class="editor-field col-sm-12">
                            <select id="CustomerId" name="CustomerId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <hr>

                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3">
                        <input id="Submit" type="button" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
        <div id="results" class="tab-pane fade show @ViewBag.resultsActive">
            <h3>Results</h3>
            <div class="container">
                <table id="TracksTable" class="col-sm-12">
                </table>
            </div>
        </div>
    </div>
</div>

@section Css {
}

@section Scripts {

<script type="text/javascript">
    debugger;
    var $artistSelect = $("#ArtistId");
    var $customerSelect = $("#CustomerId");
    var $submitButton = $("#Submit");

    var $tracksTable = $("#TracksTable").DataTable({
        data: [],
        columns: [
            { title: "TrackName", data: "trackName" },
            { title: "AlbumTitle", data: "albumTitle" },
            { title: "ArtistName", data: "artistName" },
            { title: "TrackComposer", data: "trackComposer" },
            {
                title: "Customers",
                data: "customers",
                render: function (data, type, row)
                {
                    var rVal = '';

                    $.each(data, function (index, value)
                    {
                        rVal += value.firstName;
                        rVal += ' '
                        rVal += value.lastName;
                        rVal += '<br>'
                    });

                    return rVal;
                }
            }
        ]
    });

    var fillSelect = function ($select, result)
    {
        if (result.success)
        {
            $select.empty().append("<option value=''></option>");
            $.each(result.data, function (index, item)
            {
                $select.append("<option value='" + item.value + "'>" + item.text + "</option>");
            });
        } else
        {
            alert(result.error);
        }
    };

    $("#Submit").click(function ()
    {
        var artistId = $artistSelect.val();
        var customerId = $customerSelect.val();

        TrackQueryService.getTracks(artistId, customerId, function (result)
        {
            if (result.success)
            {
                var data = result.data;
                $tracksTable.clear();
                $tracksTable.rows.add(data);
                $tracksTable.draw();
                $('#tab-results').trigger('click');
            } else
            {
                alert(result.error);
            }
        });
    });

    $(document).ready(function ()
    {
        DropdownService.getArtists(function (result)
        {
            fillSelect($artistSelect, result);
        });

        DropdownService.getCustomers(function (result)
        {
            fillSelect($customerSelect, result);
        });
    });
</script>
}
