<partial name="_DemoMenu" />

<h1>EFQ on Client</h1>

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link @ViewBag.explanationActive" data-toggle="tab" id="tab-explanation"
                href="#explanation">Explanation</a></li>
        <li class="nav-item"><a class="nav-link @ViewBag.criteriaActive" data-toggle="tab" id="tab-criteria"
                href="#criteria">Criteria</a></li>
        <li class="nav-item"><a class="nav-link @ViewBag.resultsActive" data-toggle="tab" id="tab-results"
                href="#results">Results</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="explanation" class="tab-pane fade show @ViewBag.explanationActive">
            @Html.Raw(ViewBag.docs)
        </div>
        <div id="criteria" class="tab-pane fade show @ViewBag.criteriaActive">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-12">
                        Select an Artist, a Customer, or both, and maybe a Media Type and click "Search"
                    </div>
                </div>

                <hr>

                <fieldset>
                    <div class="row">
                        <div class="editor-label col-sm-12">
                            <label for="ArtistId">Artist</label>
                        </div>
                        <div class="editor-field col-sm-12">
                            <select id="ArtistId" name="ArtistId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="editor-label col-sm-12">
                            <label for="CustomerId">Customer</label>
                        </div>
                        <div class="editor-field col-sm-12">
                            <select id="CustomerId" name="CustomerId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="editor-label col-sm-12">
                            <label for="MediaType">MediaType</label>
                        </div>
                        <div class="editor-field col-sm-12">
                            <select id="MediaType" name="MediaType">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <hr>

                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3">
                        <input id="Submit" type="button" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
        <div id="results" class="tab-pane fade show @ViewBag.resultsActive">
            <h3>Results</h3>
            <div class="container">
                <table id="TracksTable" class="col-sm-12">
                </table>
            </div>
        </div>
    </div>
</div>

@section Css {
}

@section Scripts {

<script src="~/efq/EFQ.js"></script>

<script type="text/javascript">
    debugger;
    var $artistSelect = $("#ArtistId");
    var $customerSelect = $("#CustomerId");
    var $mediaTypeSelect = $("#MediaType");
    var $submitButton = $("#Submit");

    var $tracksTable = $("#TracksTable").DataTable({
        data: [],
        columns: [
            { title: "TrackName", data: "trackName" },
            { title: "AlbumTitle", data: "albumTitle" },
            { title: "ArtistName", data: "artistName" },
            { title: "TrackComposer", data: "trackComposer" },
            { title: "MediaType", data: "mediaType" },
            {
                title: "Customers",
                data: "customers",
                render: function (data, type, row)
                {
                    var rVal = '';

                    $.each(data, function (index, value)
                    {
                        rVal += value.firstName;
                        rVal += ' '
                        rVal += value.lastName;
                        rVal += '<br>'
                    });

                    return rVal;
                }
            }
        ]
    });

    var fillSelect = function ($select, result)
    {
        if (result.success)
        {
            $select.empty().append("<option value=''></option>");
            $.each(result.data, function (index, item)
            {
                $select.append($("<option />").val(item.value || index).text(item.text).data('query', item.query));
            });
        } else
        {
            alert(result.error);
        }
    };

    $("#Submit").click(function ()
    {
        var andQueries = [EFQ.isTrue()];

        var artistSelected = $artistSelect.find(':selected');
        var artistQuery = artistSelected.data('query');// $artistSelect.find(':selected').data('query');
        if (artistQuery)
        {
            andQueries.push(artistQuery);
        }

        var customer = $customerSelect.find(':selected').data('query');
        if (customer)
        {
            andQueries.push(customer);
        }

        var mediaType = $mediaTypeSelect.find(':selected').data('query');
        if (mediaType)
        {
            andQueries.push(mediaType);
        }

        var query = EFQ.and(andQueries);

        TrackQueryService.queryTracks(query, function (result)
        {
            if (result.success)
            {
                var data = result.data;
                $tracksTable.clear();
                $tracksTable.rows.add(data);
                $tracksTable.draw();
                $('#tab-results').trigger('click');
            } else
            {
                alert(result.error);
            }
        });
    });

    $(document).ready(function ()
    {
        DropdownService.getArtists({ includeQueries: true }, function (result)
        {
            fillSelect($artistSelect, result);
        });

        DropdownService.getCustomers({ includeQueries: true }, function (result)
        {
            fillSelect($customerSelect, result);
        });

        DropdownService.getMediaTypes({ includeQueries: true }, function (result)
        {
            fillSelect($mediaTypeSelect, result);
        });

    });
</script>
}
