@model IEnumerable<JDege.EFQ.Web.Models.StoredQueryModel>

@{
}

<h3>Field matching</h3>

<div>
    EFQ queries are run against a base table in Entity Framework.<br />
    To retrieve records that have matching fields, use the comparison functions,
    passing the name of the field and the value to match against.
</div>

<h3>The stored queries:</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaseTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseTable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Query)
                </td>
                <td>
                    @Html.Raw(item.Description)
                </td>
                <td>
                    @if (item.BaseTable == "Track")
                    {
                        <a asp-controller="RunQuery" asp-action="Track" asp-route-id="@item.Id">Execute</a>
                    }
                    @if (item.BaseTable == "Invoice")
                    {
                        <a asp-controller="RunQuery" asp-action="Invoice" asp-route-id="@item.Id">Execute</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
