@model JDege.EFQ.Web.Models.RunTrackQueryModel

@{
    ViewData["Title"] = "Index";
}

<h3>@Model.Title</h3>
<div>
    @Html.Raw(Model.Description)
</div>
<br />
<h3>The query we executed:</h3>
<div>
    @Model.Query
</div>
<br />

<h3>Results:</h3>
<a asp-controller=@Model.ReturnController asp-action="Index">Return to list</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackModels[0].TrackName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackModels[0].AlbumTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackModels[0].ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackModels[0].TrackComposer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackModels[0].MediaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackModels[0].Customers)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TrackModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackComposer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaType)
                </td>
                <td>
                    @foreach (var customer in item.Customers)
                    {
                        @Html.DisplayFor(modelItem => customer.FirstName)<text>&nbsp;</text>@Html.DisplayFor(modelItem =>
                customer.LastName)
                        <br>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
